<div id="wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1>Note Scraper</h1>
				<h2><i>If you can do this...the homework should be no problem.</i></h2>
				<div id="articles"></div>
				<div id="notes"></div>
			</div>
		</div>
	</div>
</div>